.decision-container{
  background: linear-gradient(90deg, rgb(235, 184, 19) -40%,rgba(217, 18, 134, 1) 100%);
  padding: 0 6rem;
  display: flex;
  justify-content: center;
}
.decision-content{
  margin: 1rem;
}
.decision-item{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.decision-content p{
  margin: 0;
  color: white;
}
.decision-content h5{
  color: white;
  font-size: 1rem;
}
.decision-item img{
  width: 1.5rem;
  height: 1.5rem;
  padding: 5px;
  border: 1.6px solid white;
  border-radius: 50%;
}

@media(max-width:1025px){
  .decision-container{
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .decision-content{
    padding: 0.5rem 0;
    margin: 0.3rem 1rem;
  }
  .decision-content h5{
    color: white;
    font-size: 2rem;
  }
  .decision-content p{
    margin: 0;
    color: white;
    font-size: 0.7rem;
  }
  .decision-item img{
    margin-top: 0;
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width:768px){
  .decision-container{
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .decision-content p{
    margin: 0;
    color: white;
    font-size: 0.8rem;
  }
  .decision-content h5{
    color: white;
    font-size: 0.8rem;
  }
  .decision-item img{
    width: 1rem;
    height: 1rem;
  }
}
