.nav-wrapper{
  background: linear-gradient(90deg, rgb(235, 184, 19) -40%,rgba(217, 18, 134, 1)100%);
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 30;
  backdrop-filter: blur(50px);
}
.nav-content{
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0;
  margin: 0 auto;
}
.nav-content > h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 750;
  color: white;
}
.profile-logo{
  width: 4rem;
  height: auto;
  border-radius: 50%;
  border: rgb(129, 165, 249) solid 1px;
}
.nav-content ul{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}
.nav-content li{
  margin: 0 1rem;
}
.nav-content > ul > li > a{
  color: white;
  font-size: 1rem;
}
.menu-item{
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
  position: relative;
  cursor: pointer;
}
.menu-item::before{
  content: " ";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(90deg, #a993fe 0% , #7e61e7 100%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.6rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;

}
.menu-item:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}
.contact-btn{
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(90deg ,#a993fe 0% , #7e61e7 100%);
  padding: 0.6rem 2rem;
  border: none;
  outline: 1.5px solid transparent;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;

}
.contact-btn:hover{
  color: #a993fe;
  background: #000;
  outline: 1.5px solid #a993fe;
}
 .menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  background: linear-gradient(90deg , #a993fe -0.13% , #7e61e7 99.87%);
  line-height: 0;
  cursor: pointer;
  transform: all 0.4s ease;
  row-gap: 0.2rem;
  display: none;
}
.menu-btn:hover{
  color: #a993fe;
  background: #000;
  border: 1px solid #a993fe;
}
@media (max-width: 768px) {
  .menu-btn{
    display: block;
  }
  .nav-content ul{
    display: none;
  }
}

@media (max-width: 1325px) {
  .nav-wrapper{
    padding: 0 2rem;
  }
} 